.todo-list{
    display: flex;
    justify-content: center;
    >div{
        max-width: 100%;
        min-width: 50%;
    }
}

.full-width{
    width: 100%;
    mat-button-toggle{
        width: 50%;
    }
}

.text-center{
    text-align: center;
}