<div class="todo-list">
    <div>
        <h2 class="text-center">To Do List</h2>
        <form (submit)="onSubmit()" style="display: flex; flex-direction:column;">

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text" [(ngModel)]="newTask.title" name="title">
                <button matSuffix mat-icon-button aria-label="Clear" type="submit">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>  

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Task's description" [(ngModel)]="newTask.description" name="description"></textarea>
                <button matSuffix mat-icon-button aria-label="Clear" type="submit">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Add</button>
        </form>

        <mat-tab-group>
            <mat-tab label="To Do"> 
                <mat-selection-list (selectionChange)="onSelectionChange($event)" #todo *ngFor="let task of tasks">

                    <app-task [task]="task"></app-task>
        
                </mat-selection-list>    
            </mat-tab>
            <mat-tab label="Done">  
                <mat-selection-list (selectionChange)="onSelectionChange($event)" #done *ngFor="let task of tasksCompleted">

                    <app-task [task]="task"></app-task>
        
                </mat-selection-list> 
            </mat-tab>
          </mat-tab-group>
        
        
        
        <!-- <ul>
            <li *ngFor="let task of tasks">
                <app-task [task]="task"></app-task>
            </li>
        </ul> -->
    </div>
</div>